<div class="search" *ngIf="weatherData">
  <form #form="ngForm" (submit)="(onSubmit)">
    <input
      type="text"
      placeholder="Поиск города"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>

<div class="container" *ngIf="weatherData; else noInformation">
  <div class="upper-data">
    <img
      src="../assets/hot-weather.jpg"
      alt="Жаркая погода"
      *ngIf="weatherData.main.temp > 15"
    />
    <img
      src="../assets/cold-weather.jpeg"
      alt="Холодная погода"
      *ngIf="weatherData.main.temp <= 15"
    />

    <div class="upper-data__weather-data">
      <div class="upper-data__weather-data-location">
        {{ weatherData.name }}
      </div>

      <div class="upper-data__weather-data-temperature">
        {{ weatherData.main.temp | number : "1.0-0" }}°C
      </div>
    </div>
  </div>

  <div class="lower-data">
    <div class="lower-data__information">
      <span class="lower-data__information-label"> Больше Информации </span>

      <div class="lower-data__information-container">
        <!-- Первый блок (мин. температура) -->
        <div class="lower-data__information-container_info-block">
          <div class="lower-data__information-container_info-block_label">
            <img src="../assets/min.png" alt="Температура" />
            <span>Мин.</span>
          </div>

          <div class="lower-data__information-container_info-block_value">
            {{ weatherData.main.temp_min | number : "1.0-0" }}°C
          </div>
        </div>

        <!-- Второй блок (макс. температура) -->
        <div class="lower-data__information-container_info-block">
          <div class="lower-data__information-container_info-block_label">
            <img src="../assets/max.png" alt="Температура" />
            <span>Макс.</span>
          </div>

          <div class="lower-data__information-container_info-block_value">
            {{ weatherData.main.temp_max | number : "1.0-0" }}°C
          </div>
        </div>

        <!-- Третий блок (влажность) -->
        <div class="lower-data__information-container_info-block">
          <div class="lower-data__information-container_info-block_label">
            <img src="../assets/humidity.png" alt="Температура" />
            <span>Влажность</span>
          </div>

          <div class="lower-data__information-container_info-block_value">
            {{ weatherData.main.humidity }}%
          </div>
        </div>

        <!-- Четвёртый блок (ветер) -->
        <div class="lower-data__information-container_info-block">
          <div class="lower-data__information-container_info-block_label">
            <img src="../assets/wind.png" alt="Температура" />
            <span>Ветер</span>
          </div>

          <div class="lower-data__information-container_info-block_value">
            {{ weatherData.wind.speed }} км/ч
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noInformation>
  <h1 class="no-information-label">Данные с сервера не были получены...</h1>
</ng-template>

<router-outlet></router-outlet>
